<h1>Welcome to OAuth and Dookeeper Demo</h1>

<ul>
	<li>first go to oauth applications and <a href="oauth/applications">create a new application </a></li>
	<li>redirect_uri must be end with CURRENT_DOMAIN/auth/auth_server/callback</li>
	<li>then click authorize and give access for it.</li>
	<li>after that simple form will appear, fill the form with application credentials.</li>
	<li>after submit these credentials access token will be appear on the screen.</li>
	<li>copy access token value and test it for CURRENT_DOMAIN/api/books</li>
	<li>you have to send access token as a BEARER token</li>
</ul>
